:root {
  --black: #14171A;
  --blue: #1DA1F2;
  --dark-grey: #657786;
  --extra-light: #F5F8FA;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .placeholder {
    color: var(--extra-light);
}
.placeholder::before {
      content: 'Write your tweet...';
      color: var(--dark-grey);
  }
  
  #tweetInput {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    background: #eee;
    border-radius: 5px;
    margin: 16px 0;
    color: var(--black);
    caret-color: var(--blue);
  }
  
  #suggestions {
    display: none;
    width: 300px;
    max-height: 150px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .suggestion {
    padding: 5px;
    cursor: pointer;
  }
  
  .hashtag {
    color: var(--blue);
  }
  
  .new-hashtag {
    color: var(--dark-grey);
  }
  